@import 'compass';
@import 'animate';

$colorCollection: (#F0BC2B, #1C92D0, #E07EB1, #A53529, #56BA5A, #BD9ECA);
$textCollection: (white, white, white, white, white, white);

body {
  padding-top: 50px;
  padding-bottom: 20px;
  background: {
    repeat: repeat;
    position: center center;
  }
  @include transition(background 0.5s);
  @for $i from 1 through 6 {
    &.color-#{$i} {
      background: nth($colorCollection,$i);
      h1 { color: nth($textCollection, $i); }
      footer { display: none; }
    }
  }
  @for $i from 1 through 10 {
    &.word-#{$i} {
      background-image: image-url('background_#{$i}.jpg');
    }
  }
}

.color-1,.color-2,.color-3 {
  h1 { color: white; }
}

.color-4,.color-5 {
  h1 { color: black; }
}

.main-content,footer {
  @include opacity(0.0);
  @include transition(opacity 1s);
  &.active { @include opacity(1); }
}

.main-content {
  vertical-align: middle;
  display: table-cell;
  overflow: hidden;
}

.intro {
  .container { height: 10em; }
  position: relative;
  h1 {
    width: 10em;
    margin-left: -4.5em;
    position: absolute;
    left: 50%;
    top: 0;
    font-weight: bold;
    font-size: 3em;
    @include scale(0.5);
    @include opacity(0);
    &.active {
      @include scale(1.5);
      @include transition(transform 5s, opacity 1s, color 1s);
      @include opacity(1);
    }
    &.finish {
      @include scale(3);
      @include opacity(0);
      @include transition(transform 0.5s, opacity 0.5s, color 0.5s);
    }
  }
}

.ending {
  .container { height: 10em; }
  position: relative;
  h1 {
    width: 10em;
    margin-left: -4.7em;
    position: absolute;
    left: 50%;
    top: 0;
    font-weight: bold;
    font-size: 8em;
    @include scale(0.5);
    @include opacity(0);
    &.active {
      @include scale(1.5);
      @include transition(transform 2s, opacity 1s, color 1s);
      @include opacity(1);
    }
    &.finish {
      @include scale(3);
      @include opacity(0);
      @include transition(transform 0.375s, opacity 0.375s, color 0.375s);
    }
  }
}
