{{#questions}}
<div class="row hidden animated spelling-page spelling-word" data-word="{{word}}" data-backdrop="static" data-keyboard="false">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 jumbotron">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%;">
        <span class="sr-only">{{percentage}}% Complete</span>
      </div>
    </div>
    <form role="form">
      <h2 class="modal-title" style="text-align: center;">Word {{number}} of {{total}} <small>Listen to the word</small></h2>
      <p></p>
      <div class="input-group">
        <span class="input-group-btn">
          <button class="repeat btn btn-default" type="button">Repeat</button>
        </span>
        <input type="text" class="form-control" placeholder="Type the word">
        <span class="input-group-btn">
          <button class="ok btn btn-primary" data-loading-text="Checking..." data-correct-text="Great!" data-incorrect-text="Next time" type="button">Next</button>
        </span>
      </div>
    </form>
  </div>
</div>
{{/questions}}
